<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPCI SSL MASTER</title>
    <link rel="icon" type="image/x-icon" href="{% static 'sslmaster/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'sslmaster/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'sslmaster/css/bootstrap.css' %}">
</head>

<body>
    {% block content %}
    {% endblock content %}
    <footer>
        <p class="text-center">Copyright &copy; Npci.org.in</p>
      </footer>
    <script src="{% static 'sslmaster/js/juery.js' %}" ></script>
    <script src="{% static 'sslmaster/js/popper.js' %}" ></script>
    <script src="{% static 'sslmaster/js/bootstrap.js' %}" ></script>
</body>
</html>